html,body {
    width: 100%; padding:0;margin:0;border:0;
}
body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

body > div {
    padding: 30px;
}

img {
    max-width: 600px;
}

form {
    display: grid; max-width: 400px;
}

form input {
    margin: 0 10px 10px 10px;
}